Alex Elsayed <eternaleye@gmail.com> <root@Arkadios.(none)>
Bo Ørsted Andresen <zlin@exherbo.org>
David Leverton <dleverton@exherbo.org> <levertond@googlemail.com>
Heiko Becker <heirecka@exherbo.org> <heiko@shruuf.de>
Marc-Antoine Perennou <keruspe@exherbo.org> <Marc-Antoine@Perennou.com>
Sterling X. Winter <replica@exherbo.org> <sterling.winter@gmail.com>
Wulf C. Krueger <philantrop@exherbo.org> <philantrop@gentoo.org>

