Bo Ørsted Andresen <zlin@exherbo.org>
David Leverton <dleverton@exherbo.org> <levertond@googlemail.com>
Sterling X. Winter <replica@exherbo.org> <sterling.winter@gmail.com>
Wulf C. Krueger <philantrop@exherbo.org> <philantrop@gentoo.org>
Alex Elsayed <eternaleye@gmail.com> <root@Arkadios.(none)>
